# Data Science Tools and Ecosystem

## Introduction
 In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists 
- List Data science tools
- List arithmetic expressions

## Data science languages
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Data science libraries
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

##  Data Science tools
| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Rstudios |
| Apache Zeppelin |

## Arithmetic expression
### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Salin Maharjan